body {
background-color:#2ec5b8;
color: #fdffff;
width: 500px;
margin-right: auto;
margin-left: auto;
text-align: center;
}
button{
padding: 5px 20px;
background-color:#e6ff05;
border-style:none;
}
input {
height: 28px;


}
